<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<Title>StrangerGym</Title>
</head>

<body>

	<h1>Cadastro de Treinos:</h1>
	
	<form method="post">
			Titulo: <input type="text" value="" name="titulo" />
			Descricao: <input type="text" value="" name="descricao" />
			DataIni: <input type="date" value="" name="dataInicio" />
			DataFim: <input type="date" value="" name="dataFim" />

			<button type="submit">Registrar</button>

	</form>
</body>

</html>