<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  

<head>
	<title>Treinos</title> 
</head>


<body>
	<h1> Lista de Treinos </h1>
	<h3><a href="/cadastrarTreino"> -> Clique aqui para Cadastrar Treino // </a></h3>
	
	<div th:each="treino : ${treinos}">
		<div class = "row">
			<p><span th:text="${treino.titulo}"></span></p>
			<p><span th:text="${treino.descricao}"></span></p>
			<p><span th:text="${treino.dataInicio}"></span></p>
			<p><span th:text="${treino.dataFim}"></span></p>
			
		</div>
	</div>

</body>

</html>